<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<div class = "container-fluid">
    <div class = 'row banner'>
      <div class='col-md-12 text-center'>
          <br> <br>
          <h1 class="jumbotron" width=100%> Mission to Mars <br><a href="/scrape" id="scrape_btn" class="btn btn-primary" role="button">Scrape New Data</a></h1>
          <br> <br>
      </div>
    </div>

  <div id="first_text" class="row">
      <div class='col-md-1'>
      </div>
      <div class="col-md-10">
              <h2>Latest Mars News</h2>
              <hr>
              <h3>{{mars.news_data.news_title}}</h3>
              <p>{{mars.news_data.paragraph_text}}</p>
              <br>
      </div>
      <div class='col-md-1'>
      </div>
  </div>
  <hr>
  <div class='row'>
      <div class='col-md-8'>
          <h3>Featured Mars Image</h3>
          <hr>
          <figure>
              <img src={{mars.mars_featured_image}} width=100%, alt="Featured image for NASA mars page">
          </figure>
      </div>
      <div class='col-md-4'>
          <div class="data-box">
              <h3>Current Weather on Mars</h3>
              <hr>
              <p>{{mars.mars_weather}}</p>
              <hr>
          </div>
          <br>
          <div class="data-box">
              <h3>Mars Facts</h3>
              <hr>
              {{mars.mars_facts_table|safe}}
          </div>
          <br>
         
      </div>
  </div>

  <div class="row">
      <div class='col-md-12'>
          <h2 class="text-center"> Mars Hemispheres </h2>
      </div>
  </div>

  <div class="row">
      <div class='col-md-6'>
          <figure>
              <figcaption> {{mars.mars_hemispheres[0].title}} </figcaption>
              <img src={{mars.mars_hemispheres[0].image_link}} width=90%, alt="Mars hemisphere 1">
          </figure>
      </div>
      <div class='col-md-6'>
          <figure>
              <figcaption> {{mars.mars_hemispheres[1].title}} </figcaption>
              <img src={{mars.mars_hemispheres[1].image_link}} width=90%, alt="Mars hemisphere 2">
          </figure>
      </div>
  </div>
  <div class="row">
      <div class='col-md-6'>
          <figure>
              <figcaption> {{mars.mars_hemispheres[2].title}} </figcaption>
              <img src={{mars.mars_hemispheres[2].image_link}} width=90%, alt="Mars hemisphere 3">
          </figure>
      </div>
      <div class='col-md-6'>
          <figure>
              <figcaption> {{mars.mars_hemispheres[3].title}} </figcaption>
              <img src={{mars.mars_hemispheres[3].image_link}} width=90%, alt="Mars hemisphere 4">
          </figure>
      </div>
  </body>
</html>
